<div data-role="view" data-title="Dixit Today" data-layout="layout-private-mode" id="privateSuccessView" data-model="app.privateSuccessView" data-init="app.privateSuccessView.onInit" data-show="app.privateSuccessView.onShow" data-stretch="true">
    <div class="privateScreen">
        <h1 data-bind="text: translations.texts.titleSuccess">My Dixit Today<br/>a été activé<br/>avec succès</h1>
        <div class="icon-success"><img src="img/icon-success.png" /></div>
        <a href="components/articles/view.html" data-role="button" class="cancelButton"><span data-bind="text: translations.texts.backToArticles">Retour aux articles</span></a>
    </div>
</div>